<!-- Start Announcement Section -->
{{#displayannouncementsection}}
<div class="announcement">
   <div class="container">
      <div class="content">
         {{#announcementheading}}
         <h2>{{{announcementheading}}}</h2>
         {{/announcementheading}}
         {{#announcementtagline}}
         <p>{{{announcementtagline}}}</p>
         {{/announcementtagline}}
      </div>
      <div class="con-buttons">
         {{#buttonreadmore}}
         <a href="{{{buttonreadmoreurl}}}" title="Read more" target="_blank" class="btn btn-lg">{{{buttonreadmore}}}</a>
         {{/buttonreadmore}}
         {{#buttonbuynow}}
         <a href="{{{buttonbuynowurl}}}" title="Buy now" target="_blank" class="btn primary btn-lg">{{{buttonbuynow}}}</a>
         {{/buttonbuynow}}
      </div>
   </div>
</div>
{{/displayannouncementsection}}
<!-- End Announcement Section -->
