<!-- Start Custom Section -->
{{#displaycustomsection}}
<section class="customsection container-fluid">
   <div class="row">
      <article class="col-lg-3 col-md-6 col-sm-12 box">
         <i class="fa fa-pencil-square-o"></i>
         {{#custombox1heading}}
         <h5>{{{custombox1heading}}}</h5>
         {{/custombox1heading}}
         {{#custombox1description}}
         <p>{{{custombox1description}}}</p>
         {{/custombox1description}}
      </article>
      <article class="col-lg-3 col-md-6 col-sm-12 box">
         <i class="fa fa-clock-o"></i>
         {{#custombox2heading}}
         <h5>{{{custombox2heading}}}</h5>
         {{/custombox2heading}}
         {{#custombox2description}}
         <p>{{{custombox2description}}}</p>
         {{/custombox2description}}
      </article>
      <article class="col-lg-3 col-md-6 col-sm-12 box">
         <i class="fa fa-check-square-o"></i>
         {{#custombox3heading}}
         <h5>{{{custombox3heading}}}</h5>
         {{/custombox3heading}}
         {{#custombox3description}}
         <p>{{{custombox3description}}}</p>
         {{/custombox3description}}
      </article>
      <article class="col-lg-3 col-md-6 col-sm-12 box">
         <i class="fa fa-file-text-o"></i>
         {{#custombox4heading}}
         <h5>{{{custombox4heading}}}</h5>
         {{/custombox4heading}}
         {{#custombox4description}}
         <p>{{{custombox4description}}}</p>
         {{/custombox4description}}
      </article>
   </div>
</section>
{{/displaycustomsection}}
<!-- End Custom Section -->
