<!-- Start Event Section -->
{{#displayeventsection}}
<div class="events">
   <div class="container">
      {{#eventtagline}}
      <h6>{{{eventtagline}}}</h6>
      {{/eventtagline}}
      {{#eventheading}}
      <h2>{{{eventheading}}}</h2>
      {{/eventheading}}
      <div class="row">
         {{#displayevent1box}}
         <div class="col-lg-6 col-md-6 col-sm-12 box">
            <div class="pull-left customimage">
               <a href="#">
               <img src="{{{event1image}}}" />
               <span class="event-date">
               {{#event1day}}
               <span class="day">{{{event1day}}}</span>
               {{{event1monthyear}}}
               </span>
               {{/event1day}}
               </a>
            </div>
            <div class="pull-left content">
               {{#event1title}}
               <h3><a href="{{{event1titleurl}}}">{{{event1title}}}</a></h3>
               {{/event1title}}
               {{#event1location}}
               <div class="event-venue"> <i class="fa fa-location-arrow" aria-hidden="true"></i> {{{event1location}}}</div>
               {{/event1location}}
               {{#event1description}}
               <div class="event-summary">
                  <p>{{{event1description}}}</p>
               </div>
               {{/event1description}}
               <div class="event-metas">
                  {{#event1viewmap}}
                  <a class="event-map" href="{{{event1viewmapurl}}}" target="_blank"><i class="fa fa-map" aria-hidden="true"></i> {{{event1viewmap}}}
                  </a>
                  {{/event1viewmap}}
                  {{#event1price}}
                  <span class="event-price"><i class="fa fa-buysellads" aria-hidden="true"></i> {{{event1price}}}</span>
                  {{/event1price}}
                  <div class="clearfix"></div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displayevent1box}}
         {{#displayevent2box}}
         <div class="col-lg-6 col-md-6 col-sm-12 box">
            <div class="pull-left customimage">
               <a href="#">
               <img src="{{{event2image}}}" />
               <span class="event-date">
               {{#event2day}}
               <span class="day">{{{event2day}}}</span>
               {{{event2monthyear}}}
               </span>
               {{/event2day}}
               </a>
            </div>
            <div class="pull-left content">
               {{#event2title}}
               <h3><a href="{{{event2titleurl}}}">{{{event2title}}}</a></h3>
               {{/event2title}}
               {{#event2location}}
               <div class="event-venue"> <i class="fa fa-location-arrow" aria-hidden="true"></i> {{{event2location}}}</div>
               {{/event2location}}
               {{#event2description}}
               <div class="event-summary">
                  <p>{{{event2description}}}</p>
               </div>
               {{/event2description}}
               <div class="event-metas">
                  {{#event2viewmap}}
                  <a class="event-map" href="{{{event2viewmapurl}}}" target="_blank"><i class="fa fa-map" aria-hidden="true"></i> {{{event2viewmap}}}
                  </a>
                  {{/event2viewmap}}
                  {{#event2price}}
                  <span class="event-price"><i class="fa fa-buysellads" aria-hidden="true"></i> {{{event2price}}}</span>
                  {{/event2price}}
                  <div class="clearfix"></div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displayevent2box}}
         {{#displayevent3box}}
         <div class="col-lg-6 col-md-6 col-sm-12 box">
            <div class="pull-left customimage">
               <a href="#">
               <img src="{{{event3image}}}" />
               <span class="event-date">
               {{#event3day}}
               <span class="day">{{{event3day}}}</span>
               {{{event3monthyear}}}
               </span>
               {{/event3day}}
               </a>
            </div>
            <div class="pull-left content">
               {{#event3title}}
               <h3><a href="{{{event3titleurl}}}">{{{event3title}}}</a></h3>
               {{/event3title}}
               {{#event3location}}
               <div class="event-venue"> <i class="fa fa-location-arrow" aria-hidden="true"></i> {{{event3location}}}</div>
               {{/event3location}}
               {{#event3description}}
               <div class="event-summary">
                  <p>{{{event3description}}}</p>
               </div>
               {{/event3description}}
               <div class="event-metas">
                  {{#event3viewmap}}
                  <a class="event-map" href="{{{event3viewmapurl}}}" target="_blank"><i class="fa fa-map" aria-hidden="true"></i> {{{event3viewmap}}}
                  </a>
                  {{/event3viewmap}}
                  {{#event3price}}
                  <span class="event-price"><i class="fa fa-buysellads" aria-hidden="true"></i> {{{event3price}}}</span>
                  {{/event3price}}
                  <div class="clearfix"></div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displayevent3box}}
         {{#displayevent4box}}
         <div class="col-lg-6 col-md-6 col-sm-12 box">
            <div class="pull-left customimage">
               <a href="#">
               <img src="{{{event4image}}}" />
               <span class="event-date">
               {{#event4day}}
               <span class="day">{{{event4day}}}</span>
               {{{event4monthyear}}}
               </span>
               {{/event4day}}
               </a>
            </div>
            <div class="pull-left content">
               {{#event4title}}
               <h3><a href="{{{event4titleurl}}}">{{{event4title}}}</a></h3>
               {{/event4title}}
               {{#event4location}}
               <div class="event-venue"> <i class="fa fa-location-arrow" aria-hidden="true"></i> {{{event4location}}}</div>
               {{/event4location}}
               {{#event4description}}
               <div class="event-summary">
                  <p>{{{event4description}}}</p>
               </div>
               {{/event4description}}
               <div class="event-metas">
                  {{#event4viewmap}}
                  <a class="event-map" href="{{{event4viewmapurl}}}" target="_blank"><i class="fa fa-map" aria-hidden="true"></i> {{{event4viewmap}}}
                  </a>
                  {{/event4viewmap}}
                  {{#event4price}}
                  <span class="event-price"><i class="fa fa-buysellads" aria-hidden="true"></i> {{{event4price}}}</span>
                  {{/event4price}}
                  <div class="clearfix"></div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
         {{/displayevent4box}}
      </div>
      <a class="btn" href="{{wwwroot}}./calendar/view.php">View All Events <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      <div class="clearfix"></div>
   </div>
</div>
{{/displayeventsection}}
<!-- End Event Section -->
