{{!
@template theme_klassroom/login
Login page template
Example context (json):
{
"output": {
"doctype": "<!DOCTYPE html>",
"page_title": "Login page",
"favicon": "favicon.ico",
"main_content": "
<h1>Headers keep HTML validators happy</h1>
"
}
}
}}
{{> theme_klassroom/head }}
<body {{{ bodyattributes }}}>
<div id="page-wrapper">
{{{ output.standard_top_of_body_html }}}
<div id="page">
   <div class="container">
      <div id="page-content" class="row">
         <div id="region-main-box" class="col-12">
            <section id="region-main" aria-label="{{#str}}content{{/str}}">
               {{{ output.course_content_header }}}
               <div class="main-content clearfix">
                  {{{ output.main_content }}}
               </div>
               {{{ output.course_content_footer }}}
            </section>
         </div>
      </div>
   </div>
</div>
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
