<!-- Start Photo Gallery Section -->
{{#displayphotogallerysection}}
<div id="gallery">
   <div class="container" style="margin-bottom:30px;">
      <div class="toolbar mb2 mt2">
         <button class="btn fil-cat" data-rel="all">All</button>
         <button class="btn fil-cat" data-rel="classroom">Classroom</button>
         <button class="btn fil-cat" data-rel="seminars">Seminars</button>
         <button class="btn fil-cat" data-rel="event">Events</button>
      </div>
   </div>
   <div class="container">
      {{#photogallerytagline}}
      <h6>{{{photogallerytagline}}}</h6>
      {{/photogallerytagline}}
      {{#photogalleryheading}}
      <h2>{{{photogalleryheading}}}</h2>
      {{/photogalleryheading}}
      <div class="row" id="portfolio">
         <div class="col-lg-4 col-md-4 col-sm-12 box tile scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage1}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage1caption}}
                  <h2>{{{classroomimage1caption}}}</h2>
                  {{/classroomimage1caption}}
                  {{#classroomimage1buttontext}}
                  <a class="info" href="{{{classroomimage1buttonurl}}}">{{{classroomimage1buttontext}}}</a>
                  {{/classroomimage1buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm seminars all">
            <div class="hovereffect seminars all">
               <img class="img-responsive" src="{{{seminarimage1}}}" alt="">
               <div class="overlay seminars all">
                  {{#seminarimage1caption}}
                  <h2>{{{seminarimage1caption}}}</h2>
                  {{/seminarimage1caption}}
                  {{#seminarimage1buttontext}}
                  <a class="info" href="{{{seminarimage1buttonurl}}}">{{{seminarimage1buttontext}}}</a>
                  {{/seminarimage1buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage2}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage2caption}}
                  <h2>{{{classroomimage2caption}}}</h2>
                  {{/classroomimage2caption}}
                  {{#classroomimage2buttontext}}
                  <a class="info" href="{{{classroomimage2buttonurl}}}">{{{classroomimage2buttontext}}}</a>
                  {{/classroomimage2buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage3}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage3caption}}
                  <h2>{{{classroomimage3caption}}}</h2>
                  {{/classroomimage3caption}}
                  {{#classroomimage3buttontext}}
                  <a class="info" href="{{{classroomimage3buttonurl}}}">{{{classroomimage3buttontext}}}</a>
                  {{/classroomimage3buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm event all">
            <div class="hovereffect event all">
               <img class="img-responsive" src="{{{eventimage1}}}" alt="">
               <div class="overlay event all">
                  {{#eventimage1caption}}
                  <h2>{{{eventimage1caption}}}</h2>
                  {{/eventimage1caption}}
                  {{#eventimage1buttontext}}
                  <a class="info" href="{{{eventimage1buttonurl}}}">{{{eventimage1buttontext}}}</a>
                  {{/eventimage1buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm seminars all">
            <div class="hovereffect seminars all">
               <img class="img-responsive" src="{{{seminarimage2}}}" alt="">
               <div class="overlay seminars all">
                  {{#seminarimage2caption}}
                  <h2>{{{seminarimage2caption}}}</h2>
                  {{/seminarimage2caption}}
                  {{#seminarimage2buttontext}}
                  <a class="info" href="{{{seminarimage2buttonurl}}}">{{{seminarimage2buttontext}}}</a>
                  {{/seminarimage2buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm event all">
            <div class="hovereffect event all">
               <img class="img-responsive" src="{{{eventimage2}}}" alt="">
               <div class="overlay event all">
                  {{#eventimage2caption}}
                  <h2>{{{eventimage2caption}}}</h2>
                  {{/eventimage2caption}}
                  {{#eventimage2buttontext}}
                  <a class="info" href="{{{eventimage2buttonurl}}}">{{{eventimage2buttontext}}}</a>
                  {{/eventimage2buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm event all">
            <div class="hovereffect event all">
               <img class="img-responsive" src="{{{eventimage3}}}" alt="">
               <div class="overlay event all">
                  {{#eventimage3caption}}
                  <h2>{{{eventimage3caption}}}</h2>
                  {{/eventimage3caption}}
                  {{#eventimage3buttontext}}
                  <a class="info" href="{{{eventimage3buttonurl}}}">{{{eventimage3buttontext}}}</a>
                  {{/eventimage3buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage4}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage4caption}}
                  <h2>{{{classroomimage4caption}}}</h2>
                  {{/classroomimage4caption}}
                  {{#classroomimage4buttontext}}
                  <a class="info" href="{{{classroomimage4buttonurl}}}">{{{classroomimage4buttontext}}}</a>
                  {{/classroomimage4buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm event all">
            <div class="hovereffect event all">
               <img class="img-responsive" src="{{{eventimage4}}}" alt="">
               <div class="overlay event all">
                  {{#eventimage4caption}}
                  <h2>{{{eventimage4caption}}}</h2>
                  {{/eventimage4caption}}
                  {{#eventimage4buttontext}}
                  <a class="info" href="{{{eventimage4buttonurl}}}">{{{eventimage4buttontext}}}</a>
                  {{/eventimage4buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage5}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage5caption}}
                  <h2>{{{classroomimage5caption}}}</h2>
                  {{/classroomimage5caption}}
                  {{#classroomimage5buttontext}}
                  <a class="info" href="{{{classroomimage5buttonurl}}}">{{{classroomimage5buttontext}}}</a>
                  {{/classroomimage5buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm seminars all">
            <div class="hovereffect seminars all">
               <img class="img-responsive" src="{{{seminarimage3}}}" alt="">
               <div class="overlay seminars all">
                  {{#seminarimage3caption}}
                  <h2>{{{seminarimage3caption}}}</h2>
                  {{/seminarimage3caption}}
                  {{#seminarimage3buttontext}}
                  <a class="info" href="{{{seminarimage3buttonurl}}}">{{{seminarimage3buttontext}}}</a>
                  {{/seminarimage3buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage6}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage6caption}}
                  <h2>{{{classroomimage6caption}}}</h2>
                  {{/classroomimage6caption}}
                  {{#classroomimage6buttontext}}
                  <a class="info" href="{{{classroomimage6buttonurl}}}">{{{classroomimage6buttontext}}}</a>
                  {{/classroomimage6buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm seminars all">
            <div class="hovereffect seminars all">
               <img class="img-responsive" src="{{{seminarimage4}}}" alt="">
               <div class="overlay seminars all">
                  {{#seminarimage4caption}}
                  <h2>{{{seminarimage4caption}}}</h2>
                  {{/seminarimage4caption}}
                  {{#seminarimage4buttontext}}
                  <a class="info" href="{{{seminarimage4buttonurl}}}">{{{seminarimage4buttontext}}}</a>
                  {{/seminarimage4buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage7}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage7caption}}
                  <h2>{{{classroomimage7caption}}}</h2>
                  {{/classroomimage7caption}}
                  {{#classroomimage7buttontext}}
                  <a class="info" href="{{{classroomimage7buttonurl}}}">{{{classroomimage7buttontext}}}</a>
                  {{/classroomimage7buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage8}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage8caption}}
                  <h2>{{{classroomimage8caption}}}</h2>
                  {{/classroomimage8caption}}
                  {{#classroomimage8buttontext}}
                  <a class="info" href="{{{classroomimage8buttonurl}}}">{{{classroomimage8buttontext}}}</a>
                  {{/classroomimage8buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm event all">
            <div class="hovereffect event all">
               <img class="img-responsive" src="{{{eventimage5}}}" alt="">
               <div class="overlay event all">
                  {{#eventimage5caption}}
                  <h2>{{{eventimage5caption}}}</h2>
                  {{/eventimage5caption}}
                  {{#eventimage5buttontext}}
                  <a class="info" href="{{{eventimage5buttonurl}}}">{{{eventimage5buttontext}}}</a>
                  {{/eventimage5buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm seminars all">
            <div class="hovereffect seminars all">
               <img class="img-responsive" src="{{{seminarimage5}}}" alt="">
               <div class="overlay seminars all">
                  {{#seminarimage5caption}}
                  <h2>{{{seminarimage5caption}}}</h2>
                  {{/seminarimage5caption}}
                  {{#seminarimage5buttontext}}
                  <a class="info" href="{{{seminarimage5buttonurl}}}">{{{seminarimage5buttontext}}}</a>
                  {{/seminarimage5buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm classroom all">
            <div class="hovereffect classroom all">
               <img class="img-responsive" src="{{{classroomimage9}}}" alt="">
               <div class="overlay classroom all">
                  {{#classroomimage9caption}}
                  <h2>{{{classroomimage9caption}}}</h2>
                  {{/classroomimage9caption}}
                  {{#classroomimage9buttontext}}
                  <a class="info" href="{{{classroomimage9buttonurl}}}">{{{classroomimage9buttontext}}}</a>
                  {{/classroomimage9buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm seminars all">
            <div class="hovereffect seminars all">
               <img class="img-responsive" src="{{{seminarimage6}}}" alt="">
               <div class="overlay seminars all">
                  {{#seminarimage6caption}}
                  <h2>{{{seminarimage6caption}}}</h2>
                  {{/seminarimage6caption}}
                  {{#seminarimage6buttontext}}
                  <a class="info" href="{{{seminarimage6buttonurl}}}">{{{seminarimage6buttontext}}}</a>
                  {{/seminarimage6buttontext}}
               </div>
            </div>
         </div>
         <div class="tile col-lg-4 col-md-4 col-sm-12 box scale-anm event all">
            <div class="hovereffect event all">
               <img class="img-responsive" src="{{{eventimage6}}}" alt="">
               <div class="overlay event all">
                  {{#eventimage6caption}}
                  <h2>{{{eventimage6caption}}}</h2>
                  {{/eventimage6caption}}
                  {{#eventimage6buttontext}}
                  <a class="info" href="{{{eventimage6buttonurl}}}">{{{eventimage6buttontext}}}</a>
                  {{/eventimage6buttontext}}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{{/displayphotogallerysection}}
<!-- End Photo Gallery Section -->
