<!-- Start Tutors Section -->
{{#displaytutorsection}}
<div class="tutors">
   <div class="container">
      {{#tutorssectionheading}}
      <h1>{{{tutorssectionheading}}}</h1>
      {{/tutorssectionheading}}
      {{#tutorssectiontagline}}
      <p class="tagline">{{{tutorssectiontagline}}}</p>
      {{/tutorssectiontagline}}
      <div class="expert-teachers container" id="first-section">
         <div class="scroll-block-container slider" id="teachers-slider">
            <a class="control_next" id="next-teacher"></a>
            <a class="control_prev" id="prev-teacher"></a>
            <div class="slider-wrapper" id="teacher-slider-wrapper">
               <ul class="teacher-slider" style="width: 1317.5px; margin-left: -155px;">
                  {{#displaytutor1}}
                  <li id="teacher-0" data-comment="{{{tutor1comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor1url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor1image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor1name}}
                           <p class="teacher-name">{{{tutor1name}}}</p>
                           {{/tutor1name}}
                           {{#tutor1designation}}
                           <p class="teacher-qualification">{{{tutor1designation}}}</p>
                           {{/tutor1designation}}
                           {{#tutor1rating}}
                           <p class="teacher-rating">{{{tutor1rating}}}</p>
                           {{/tutor1rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor1}}
                  {{#displaytutor2}}
                  <li id="teacher-1" data-comment="{{{tutor2comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor2url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor2image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor2name}}
                           <p class="teacher-name">{{{tutor2name}}}</p>
                           {{/tutor2name}}
                           {{#tutor2designation}}
                           <p class="teacher-qualification">{{{tutor2designation}}}</p>
                           {{/tutor2designation}}
                           {{#tutor2rating}}
                           <p class="teacher-rating">{{{tutor2rating}}}</p>
                           {{/tutor2rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor2}}
                  {{#displaytutor3}}
                  <li id="teacher-2" data-comment="{{{tutor3comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor3url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor3image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor3name}}
                           <p class="teacher-name">{{{tutor3name}}}</p>
                           {{/tutor3name}}
                           {{#tutor3designation}}
                           <p class="teacher-qualification">{{{tutor3designation}}}</p>
                           {{/tutor3designation}}
                           {{#tutor3rating}}
                           <p class="teacher-rating">{{{tutor3rating}}}</p>
                           {{/tutor3rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor3}}
                  {{#displaytutor4}}
                  <li id="teacher-3" data-comment="{{{tutor4comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor4url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor4image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor4name}}
                           <p class="teacher-name">{{{tutor4name}}}</p>
                           {{/tutor4name}}
                           {{#tutor4designation}}
                           <p class="teacher-qualification">{{{tutor4designation}}}</p>
                           {{/tutor4designation}}
                           {{#tutor4rating}}
                           <p class="teacher-rating">{{{tutor4rating}}}</p>
                           {{/tutor4rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor4}}
                  {{#displaytutor5}}
                  <li id="teacher-4" data-comment="{{{tutor5comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor5url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor5image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor5name}}
                           <p class="teacher-name">{{{tutor5name}}}</p>
                           {{/tutor5name}}
                           {{#tutor5designation}}
                           <p class="teacher-qualification">{{{tutor5designation}}}</p>
                           {{/tutor5designation}}
                           {{#tutor5rating}}
                           <p class="teacher-rating">{{{tutor5rating}}}</p>
                           {{/tutor5rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor5}}
                  {{#displaytutor6}}
                  <li id="teacher-5" data-comment="{{{tutor6comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor6url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor6image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor6name}}
                           <p class="teacher-name">{{{tutor6name}}}</p>
                           {{/tutor6name}}
                           {{#tutor6designation}}
                           <p class="teacher-qualification">{{{tutor6designation}}}</p>
                           {{/tutor6designation}}
                           {{#tutor6rating}}
                           <p class="teacher-rating">{{{tutor6rating}}}</p>
                           {{/tutor6rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor6}}
                  {{#displaytutor7}}
                  <li id="teacher-6" data-comment="{{{tutor7comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor7url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor7image}}}" alt="Teacher Pic">
                        </a>
                        <div class="teacher-info">
                           {{#tutor7name}}
                           <p class="teacher-name">{{{tutor7name}}}</p>
                           {{/tutor7name}}
                           {{#tutor7designation}}
                           <p class="teacher-qualification">{{{tutor7designation}}}</p>
                           {{/tutor7designation}}
                           {{#tutor7rating}}
                           <p class="teacher-rating">{{{tutor7rating}}}</p>
                           {{/tutor7rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor7}}
                  {{#displaytutor8}}
                  <li id="teacher-7" data-comment="{{{tutor8comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor8url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor8image}}}" alt="Teacher Pic">
                        </a>  
                        <div class="teacher-info">
                           {{#tutor8name}}
                           <p class="teacher-name">{{{tutor8name}}}</p>
                           {{/tutor8name}}
                           {{#tutor8designation}}
                           <p class="teacher-qualification">{{{tutor8designation}}}</p>
                           {{/tutor8designation}}
                           {{#tutor8rating}}
                           <p class="teacher-rating">{{{tutor8rating}}}</p>
                           {{/tutor8rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor8}}
                  {{#displaytutor9}}
                  <li id="teacher-7" data-comment="{{{tutor9comment}}}" class="block-transition">
                     <div class="teacher-block">
                        <a href="{{{tutor9url}}}" alt="Teacher Pic">
                        <img class="teacher-pic" src="{{{tutor9image}}}" alt="Teacher Pic">
                        </a>  
                        <div class="teacher-info">
                           {{#tutor9name}}
                           <p class="teacher-name">{{{tutor9name}}}</p>
                           {{/tutor9name}}
                           {{#tutor9designation}}
                           <p class="teacher-qualification">{{{tutor9designation}}}</p>
                           {{/tutor9designation}}
                           {{#tutor9rating}}
                           <p class="teacher-rating">{{{tutor9rating}}}</p>
                           {{/tutor9rating}}
                        </div>
                     </div>
                  </li>
                  {{/displaytutor9}}
               </ul>
            </div>
         </div>
         <div class="teacher-testimonial" id="teacher-comment"></div>
      </div>
   </div>
</div>
{{/displaytutorsection}}
<!-- End Tutors Section -->
