<!-- Start Academic Section -->
{{#displaywelcomesection}}
<div class="welcome">
   <div class="container">
      <div class="row">
         <div class="col-lg-7 col-md-7 col-sm-12 welcome-content">
            {{#welcometagline}}
            <h6>{{{welcometagline}}}</h6>
            {{/welcometagline}}
            {{#welcomeheading}}
            <h1>{{{welcomeheading}}}</h1>
            {{/welcomeheading}}
            {{#welcomedescription}}
            <p>{{{welcomedescription}}}</p>
            {{/welcomedescription}}
            {{#welcomelistone}}
            <div class="item_featured">
               <span class="item_number">1</span>  
               <div class="item_info">
                  <div class="item_header">
                     <h4 class="item_title"><a href="{{{welcomelistoneurl}}}">{{{welcomelistone}}}</a></h4>
                  </div>
               </div>
            </div>
            {{/welcomelistone}}
            {{#welcomelisttwo}}
            <div class="item_featured">
               <span class="item_number">2</span>  
               <div class="item_info">
                  <div class="item_header">
                     <h4 class="item_title"><a href="{{{welcomelisttwourl}}}">{{{welcomelisttwo}}}</a></h4>
                  </div>
               </div>
            </div>
            {{/welcomelisttwo}}
            {{#welcomelistthree}}
            <div class="item_featured">
               <span class="item_number">3</span>  
               <div class="item_info">
                  <div class="item_header">
                     <h4 class="item_title"><a href="{{{welcomelistthreeurl}}}">{{{welcomelistthree}}}</a></h4>
                  </div>
               </div>
            </div>
            {{/welcomelistthree}}
         </div>
         <div class="col-lg-5 col-md-5 col-sm-12 welcome-image"><img class="img-responsive" src="{{wwwroot}}./theme/klassroom/pix/welcomebg.png" alt="" /></div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
{{/displaywelcomesection}}
<!-- End Academic Section -->
